.gap{
    margin-top: 2%;
    display:flex ;

    p{
        width: 200%;
        height: 100%;
    }

    input{
        width: 60%;
    }

    select{
        width: 40%;
    }

    label{
       
        font-size: xx-large;
        width: 30%;
    }
    .op{
        margin-left: 9%;
    }
    
}



.btn{
    width: 20%;
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}